:root{ 
    --padrao-text: 'Outfit', sans-serif; 
    --text-destaque: 'Pixelify sans', sans-serif; 
    --color-destaque: #015958; 
    --text-color-destaque: #008381;
    --color-fundo-light: #EBE6DF; 
    --fundo-amostras: #FFFFFF; 
} 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--padrao-text); 
    min-height: 100vh; 
    background-color: var(--color-fundo-light); 
    flex-direction: column;
}
.background_wallpaper-thanks{
    background-image: url(assets/img/fundo_portfolio\ \(4\).png);
    width: 100vw; 
    height: 100vh;
    z-index: -1;
    background-size: cover;
    background-position: center;
    position: absolute;
}
.text{
    font-size: 45px;
    color: #015958;
    margin-bottom: 30px;
}
.paragraph{
    font-size: 21px;
    color: #015958;
    margin-bottom: 50px;
}
.btn{
    background-color: transparent;
    font-size: 16px;
    color: #015958;
    padding: 10px 45px;
    text-decoration: none;
    border-radius: 5px;
    border: 2px solid #009391;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.5s;
}
.btn:hover{
    background-color: #009391;
    color: #ffffff;
    border-radius: 25px;
}
@media (max-width:768px){
    .text{
        font-size: 28px;
    }
    .paragraph{
        font-size: 18px;
    }
    .btn{
        font-size: 14.7px;
    }
}

/*mexer na responsividade*/